$border-radius: 5px;
$box-shadow: 3px 4px 16px 2px rgba(209,209,209,1);
$home-font-size: 14px;
$details-font-size: 16px;
$details-header-font-size: 18px;

// Colours
$black: #111;
$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue: hsl(207, 26%, 17%);
$very-dark-blue-text: hsl(200, 15%, 8%);
$dark-grey: hsl(0, 0%, 52%);
$very-light-grey: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);